<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FillDownload.Properties.filldownload" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <FillDownload.Properties.filldownload>
            <setting name="ApiURL" serializeAs="String">
                <value>https://apigateway.trade.tt</value>
            </setting>
            <setting name="Env" serializeAs="String">
                <value>ext_uat_cert</value>
            </setting>
            <setting name="Key" serializeAs="String">
                <value />
            </setting>
            <setting name="Secret" serializeAs="String">
                <value />
            </setting>
            <setting name="Frequency" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OutputFolder" serializeAs="String">
                <value>.\</value>
            </setting>
            <setting name="StartTime" serializeAs="String">
                <value>09:00:00</value>
            </setting>
            <setting name="EndTime" serializeAs="String">
                <value>17:00:00</value>
            </setting>
            <setting name="StartDate" serializeAs="String">
                <value />
            </setting>
            <setting name="EndDate" serializeAs="String">
                <value />
            </setting>
            <setting name="RunMonday" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RunTuesday" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RunWednesday" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RunThurday" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RunFriday" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RunSaturday" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunSunday" serializeAs="String">
                <value>False</value>
            </setting>
        </FillDownload.Properties.filldownload>
    </userSettings>
</configuration>
